/** Aktuelle CSS Klassen und IDs */
html {
	background: grey;
}

element.Style {
	border-style: solid;
}

.body {
	background: grey;
	padding: 0.5em;
	direction: ltr;
	min-width: 700px;
}

.start {
	background-color: rgb(190, 49, 49);
	margin-top: 20em;
	margin-left: 10em;
	margin-right: 10em;
	border-style: solid;
	border-color: rgb(190, 49, 49);
	border-radius: 0.5em;
	padding: 2em;
}

.header {
	border-style: solid;
	border-radius: 0.5em;
	border-color: rgb(247, 150, 70);
	padding: 2em;
}

#h1 {
	font-size: 40px;
}

.navigation {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 1em;
	border-style: solid;
	border-radius: 0.5em;
	border-color: rgb(247, 150, 70);
	float: left;
}

.buttonNavigation {
	width: 120px;
	height: 40px;
	margin: 5%;
	box-sizing: border-box;
	opacity: 1;
	border: 1px solid #f6923f;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 0px 0px #F6923F, 0px -7px 17px 0px #f6923f
		inset;
}

.buttonNavigation:hover {
	background: rgb(247, 150, 70);
}

.userSuche {
	background-color: white;
	padding: 25px;
	border-style: solid;
	border-color: rgb(247, 150, 70);
	display: inline-block;
	float: left;
}

#textbox {
	margin-top: 2em;
	border: 0.1em solid rgb(247, 150, 70);
	border-radius: 0.5em;
}

#beitragBox {
	max-width: 19em;
	max-height: 40em;
}

#kommentarBox {
	border-style: solid;
}

#logoutButton {
	width: 120px;
	height: 40px;
	margin: 5%;
	box-sizing: border-box;
	opacity: 1;
	border: 1px solid #f6923f;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 0px 0px #F6923F, 0px -7px 17px 0px #f6923f
		inset;
	margin-top: 4em;
}

#logoutButton:hover {
	background: rgb(247, 150, 70);
}

#socialButton {
	border-style: solid;
	margin-left: 10em;
	padding: 2em;
	border-radius: 1.5em;
}

#reportButton {
	border-style: solid;
	margin-left: 10em;
	padding: 2em;
	border-radius: 1.5em;
}

#buttonAbonieren {
	width: 120px;
	height: 40px;
	margin: 5%;
	box-sizing: border-box;
	opacity: 1;
	border: 1px solid #f6923f;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 0px 0px #F6923F, 0px -7px 17px 0px #f6923f
		inset;
}

#buttonAbonieren: hover {
	background: rgb(247, 150, 70);
}

.buttonBeitragSenden {
	width: 120px;
	height: 40px;
	margin: 5%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	opacity: 1;
	border: 1px solid #f6923f;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	box-shadow: 0px 0px 0px 0px #F6923F, 0px -7px 17px 0px #f6923f inset;
	-webkit-box-shadow: 0px 0px 0px 0px #F6923F, 0px -7px 17px 0px #f6923f
		inset;
	-moz-box-shadow: 0px 0px 0px 0px #F6923F, 0px -7px 17px 0px #f6923f
		inset;
	-ms-box-shadow: 0px 0px 0px 0px #F6923F, 0px -7px 17px 0px #f6923f inset;
	-o-box-shadow: 0px 0px 0px 0px #F6923F, 0px -7px 17px 0px #f6923f inset;
}

.buttonKommentarSenden: hover {
	background: rgb(247, 150, 70);
}

.buttonKommentarSenden {
	width: 120px;
	height: 40px;
	margin: 5%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	opacity: 1;
	border: 1px solid #f6923f;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	box-shadow: 0px 0px 0px 0px #F6923F, 0px -7px 17px 0px #f6923f inset;
	-webkit-box-shadow: 0px 0px 0px 0px #F6923F, 0px -7px 17px 0px #f6923f
		inset;
	-moz-box-shadow: 0px 0px 0px 0px #F6923F, 0px -7px 17px 0px #f6923f
		inset;
	-ms-box-shadow: 0px 0px 0px 0px #F6923F, 0px -7px 17px 0px #f6923f inset;
	-o-box-shadow: 0px 0px 0px 0px #F6923F, 0px -7px 17px 0px #f6923f inset;
}

.buttonKommentarSenden: hover {
	background: rgb(247, 150, 70);
}

.content {
	border-style: solid;
	border-radius: 0.5em;
	border-color: rgb(247, 150, 70);
	margin-left: 15em;
	margin-top: 0.5em;
}

.beitragCell {
	border-style: solid;
	border-color: rgb(247, 150, 70);
	border-radius: 0.25em;
	padding: 0.5em;
	margin: 0.5em;
}

.panelErsteller {
	border-style: solid;
}

.beitragView {
	border-style: solid;
}

.like {
	border-style: solid;
}

.kommentieren {
	border-style: solid;
}

.aboCell {
	border-style: solid;
}

#aboView {
	border-style: solid;
}

#pinnwandMenuepunkt {
	border-style: solid;
	font-size: 23px;
	width: 8em;
	border-color: rgb(247, 150, 70);
	border-radius: 0.25em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#aboMenuepunkt {
	border-style: solid;
}

#labelFooter {
	border-style: solid;
}

.labelVerfasser {
	border-style: solid;
}

.labelErstellungszeitpunkt {
	border-style: solid;
}

.pinnwand {
	margin: 5px;
	height: 550px;
	padding: 10px;
	border-style: solid;
	border-color: rgb(247, 150, 70);
}

.pinnwandView {
	margin: 5px;
	padding: 10px;
	border-style: solid;
	border-color: rgb(247, 150, 70);
}

.footer {
	clear: both;
	border-style: solid;
	border-radius: 0.5em;
	border-color: rgb(247, 150, 70);
	background-color: white;
	margin-top: 0.5em;
	padding: 50px;
	display: block;
}

.gwt-SuggestBox {
	
}

.report {
	border-style: solid;
}

.tabPanel {
	border-style: solid;
	overflow: absolute;
	width: 500px;
	height: 500px;
}

.reportHeader {
	border-style: solid;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	background: white;
}

.userReport {
	border-style: solid;
	width: 50px;
	height: 50px;
}

.beitragReport {
	border-style: solid;
	width: 50px;
	height: 50px;
}

#reportInhalt {
	padding: 0 0px;
	position: fixed;
	margin-left: 61em;
	margin-top: 5em;
}