/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
body {
	color: black;
	margin: 0%;
	border: 0px;
	padding: 0px;
	background: #fff;
	direction: ltr;
}
.dockPanel {
	
	background-color: rgba(255, 255, 255, 0);
	border-style: solid;
	border-color: rgb(57, 94, 138);
	border-width: 5px;
	height: 100%;
	width: 100%;

	
}
.header {
	background-color: white;
	border-style: solid;
	border-color: rgb(247, 150, 70);
	display: block;
	width: 100%;
}
.navigation {
	background-color: white;
	margin-top: 1%;
	padding: 50px;
	border-style: solid;
	border-color: rgb(247, 150, 70);
	display: inline-block;
	width:20%;
	float:left;
	
	
}
.buttons {
	background-color: white;
	
	padding: 50px;
	border-style: solid;
	border-color: rgb(247, 150, 70);
	display: inline-block;
	float:left;
}
.userSuche{
	background-color: white;
	padding: 50px;
	border-style: solid;
	border-color: rgb(247, 150, 70);
	display: inline-block;
	float:left;
}
.logout {
	background-color:red;
	padding:50px;
}
.content_bg{
	background-color: white;
	margin-top: 2%;
	padding: 50px;
	width: 150%;
	height:420px;
	display: inline-block;
	border-color: rgb(247, 150, 70);
	border-style: solid;
	float: right;
}
.content {
	background-color: white;
	padding: 50px;
	border-style: solid;
	border-color: rgb(247, 150, 70);
	display: inline-block;
	float:left;
}
.footer{
	background-color: white;
	margin-top: 1%;
	padding: 50px;
	display: block;
	border-style: solid;
	border-color: rgb(247, 150, 70);
	width: 100%;
}
#logButton {
	width: 120px;
	height: 40px;
}